.is-visible {
	display: block;
	visibility: visible;
}
.is-hidden {
	display: none;
	visibility: hidden;
}
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.u-center-text.u-center-text {
    text-align: center;
}
.u-bottom-margin-remove.u-bottom-margin-remove {
    margin-bottom: 0;
}
.u-top-margin-remove.u-top-margin-remove {
    margin-top: 0;
}
.u-bottom-margin-small.u-bottom-margin-small {
    margin-bottom: 10px;
}
.u-bottom-margin-medium.u-bottom-margin-medium {
    margin-bottom: 20px;
}
.u-bottom-margin-large.u-bottom-margin-large {
    margin-bottom: 40px;
}
.u-top-margin-small.u-top-margin-small {
    margin-top: 10px;
}
.u-top-margin-medium.u-top-margin-medium {
    margin-top: 20px;
}
.u-top-margin-large.u-top-margin-large {
    margin-top: 40px;
}
.u-left-margin-small.u-left-margin-small {
    margin-left: 10px;
}
.u-left-margin-medium.u-left-margin-medium {
    margin-left: 20px;
}
.u-left-margin-large.u-left-margin-large {
    margin-left: 40px;
}
.u-right-margin-small.u-right-margin-small {
    margin-right: 10px;
}
.u-right-margin-medium.u-right-margin-medium {
    margin-right: 20px;
}
.u-right-margin-large.u-right-margin-large {
    margin-right: 40px;
}
