extends layout

block content
	.layout.layout--skinny
		.page-title
			h1.page-title__title= title

		.area
			form.logon-form(action="/login" method="POST")
				fieldset.field
					label(for="input_email") Email
					input(type="email" id="input_email" autocomplete="off" value="" name="email")
				
				fieldset.field
					label(for="input_password") Password
					input(type="password" id="input_password" autocomplete="off" value="" name="password")
				
				fieldset.field.field--submit
					input.button(type="submit" value="Login")
