extends layout

include mixins/_pagination

block content
	.layout.layout--narrow
		.page-title
			h1.page-title__title= title
			.page-title__extra
				a.button(href="/stops/create") 
					+svgIcon('add')
					| New Stop

		.area
			.table-wrap: table
				thead
					tr
						th Title
						th Start Date
						th End Date
				each stop in stops
					tr
						td: a(href="/stops/" + stop._id) #{stop.title}
						td= h.moment(stop.startDate).format('MMMM Do, YYYY')
						td= h.moment(stop.endDate).format('MMMM Do, YYYY')
				else
					tr: td.fine-print There are no stops.

			+pagination('stops', page, pages, count)