.dialog {
	position: fixed;
	background-color: rgba(black, 0.9);
	z-index: 1001;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 3.125rem 0.5rem 7.5rem;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	display: none;
	@media (min-width: 23em) {
		padding: 3.125rem 1.25rem 7.5rem;
	}
	&[aria-hidden='false'] {
		animation-name: showDialog;
		animation-duration: 0.3s;
		display: block;
	}
}
@keyframes showDialog {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.dialog__close {
	position: absolute;
	right: 0.625rem;
	top: 1.1rem;
	background-color: transparent;
	box-shadow: none;
	text-transform: uppercase;
	@include font-size(12);
	letter-spacing: 0.15rem;
	@media (min-width: 23em) {
		right: 1.25rem;
	}
	@media (min-width: 38em) {
		right: auto;
		left: calc(50% + 12.5rem);
	}
	.dialog--product & {
		@media (min-width: 38em) {
			right: 1.25rem;
			left: auto;
		}
		@media (min-width: 54em) {
			right: auto;
			left: calc(50% + 20rem);
		}
	}
}
.dialog__inner {
	background-color: white;
	padding: 1.5rem 1.25rem;
	color: $text;
	margin: 0 auto;
	max-width: 36rem;
	border-radius: 0.3125rem;
	@media (min-width: 23em) {
		padding: 1.875rem;
	}
	.dialog--product & {
		max-width: 52rem;
	}
	.dialog[aria-hidden='false'] & {
		animation-name: showDialogForm;
		animation-duration: 0.3s;
		animation-timing-function: ease;
	}
}
@keyframes showDialogForm {
	0% {
		transform: translateY(5rem) scale(0.8);
	}
	100% {
		transform: scale(1);
	}
}
