label,
.faux-label {
	display: block;
	font-weight: bold;
	margin-bottom: 0.25rem;
	padding-right: 0.5em;
}
.req {
	font-weight: bold;
	color: $text_med;
}
.label__note {
	font-style: italic;
	font-weight: normal;
	color: $text_light;
	margin-left: 0.25rem;
	@include font-size(14);
}
.label__note--under {
	clear: both;
	display: block;
	padding-top: 0.25em;
}

.input-tiny {
	max-width: 7em;
}
.input-short {
	max-width: 10em;
}
.input-medium {
	max-width: 16em;
}
.input-big {
	max-width: 32em;
}
.input__link {
	display: inline-block;
	padding: 0.55em 0.325em 0.425em;
}
.input__link-below {
	display: inline-block;
	padding-top: 0.5em;
	padding-right: 1em;
	@include font-size(14);
}
.input__prefix,
.input__seperator {
	display: inline-block;
	vertical-align: top;
	padding-top: 0.5em;
	padding-right: 0.375em;
	color: $text_med;
}
.input__seperator {
	padding-left: 0.375em;
}

.field {
	padding-bottom: 1.25rem;
}
.field__error {
	color: $red;
	padding-bottom: 0.25rem;
	border-left: 0.25rem solid $red;
	padding-left: 0.5rem;
	margin: 0 0 0.25rem;
}

.field--amount .field__input-wrapper,
.field--qty .field__input-wrapper {
	position: relative;
	input {
		padding-left: 1.875em;
	}
	&:before {
		color: $text_light;
		border-right: 1px solid rgba($text_light, 0.3);
		content: '$';
		left: 4px;
		top: 0;
		text-align: center;
		padding-top: 9px;
		padding-right: 2px;
		@include font-size(16);
		position: absolute;
		width: 20px;
		height: 100%;
	}
}
.field--qty .field__input-wrapper {
	&:before {
		content: '#';
	}
}
.field--phone {
	span {
		color: $text_light;
		margin-right: 0.25rem;
		margin-left: 0.25rem;
		display: inline-block;
	}
	input[maxlength='3'] {
		width: 3.375em;
	}
	input[maxlength='4'] {
		width: 3.75em;
	}
}
.field--date {
	.custom-select {
		margin-right: 0.5em;
		margin-bottom: 0.5em;
	}
	input {
		vertical-align: top;
	}
}
.field--file {
	.image {
		max-width: 12.5rem;
	}
}
.upload {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	position: relative;
}
.upload__button {
	margin-bottom: 0;
}
.upload__input {
	@include visuallyhidden;
}
.upload__path {
	@include font-size(14);
	padding-left: 0.625rem;
	font-style: italic;
}
.field--datepicker,
.field--daterange {
	label {
		display: block;
		position: static;
	}
	.field__input-wrapper {
		max-width: 9.5rem;
		margin-right: 0.5em;
		position: relative;
		input {
			padding-left: 2.5rem;
		}
		.icon {
			position: absolute;
			opacity: 0.35;
			top: 50%;
			transform: translateY(-50%);
			left: 0.3125rem;
			height: 1.875rem;
			width: 1.875rem;
		}
		&::before {
			top: auto;
			bottom: 0.3em;
		}
	}
}
.field--daterange .field__input-wrapper {
	max-width: 30rem;
}

.field--inline-check {
	[type='checkbox'] {
		margin-right: 0.25rem;
	}
	label {
		display: inline;
		position: static;
	}
}
.field--inline-check-expandable {
	position: relative;
	padding-left: 1.5em;
	& > .toggle-link {
		position: absolute;
		left: 0;
		top: -0.075em;
	}
}
.field--inline-check__or {
	font-style: italic;
	color: $text_med;
	@include font-size(14);
	display: inline;
	margin-right: 0.625rem;
}

.field--inline-radios {
	padding-bottom: 1.25rem;
}
.field--inline-radios__desc {
	font-weight: bold;
	margin-bottom: 0.625rem;
}
.field--inline-radios__items {
	list-style: none;
	margin: 0;
	padding: 0 0 0 0.5rem;
}
.field--inline-radios__item {
	display: inline-block;
	margin-right: 1.25em;
	label {
		color: $text;
		display: inline;
		font-weight: normal;
		margin-left: 0.3125rem;
		top: 0;
	}
}

.field--radio-list {
	padding-bottom: 1.25rem;
}
.field--radio-list__desc {
	font-weight: bold;
	margin-bottom: 0.625rem;
}
.field--radio-list__items {
	list-style: none;
	margin: 0;
	padding: 0 0 0 0.5rem;
	.field--radio-list--two-col & {
		@media (min-width: 32em) {
			columns: 2;
		}
	}
	.field--radio-list--three-col & {
		@media (min-width: 32em) {
			columns: 2;
		}
		@media (min-width: 48em) {
			columns: 3;
		}
	}
	&.field--radio-list__items--separated {
		padding: 0 0 0.5em;
		.field--radio-list__item {
			border-top: 1px solid $border_light;
			padding: 1em 1em 0.5em 2.25em;
		}
		input[type='checkbox'],
		input[type='radio'] {
			left: 1em;
			top: 1.2em;
		}
	}
	&.field--radio-list__items--inset {
		background-color: $bg_light;
		padding-top: 0.5em;
		margin: 0.25em 0 0.5em;
		border-radius: 0.5em;
		@media (min-width: 36em) {
			columns: 2;
		}
		label {
			@include font-size(14);
			position: relative;
			background-color: transparent;
			top: -0.1em;
		}
	}
}
.field--radio-list__item {
	position: relative;
	padding-left: 1.25em;
	label {
		color: $text;
		font-weight: normal;
		top: 0;
	}
	input[type='checkbox'],
	input[type='radio'] {
		position: absolute;
		left: 0;
		top: 0.2em;
	}
}
.field--checkbox {
	position: relative;
	padding-left: 1.25em;
	input[type='checkbox'],
	input[type='radio'] {
		position: absolute;
		left: 0;
		top: 0.25em;
	}
}

.segmented {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	width: 100%;
}
.segmented__desc {
	font-weight: bold;
}
.segmented__item {
	border: 1px solid $blue;
	border-right: none;
	flex-grow: 1;
	overflow: hidden;
	margin: 0;
	vertical-align: middle;
	&:first-child {
		border-radius: 0.375em 0 0 0.375em;
	}
	&:last-child {
		border-radius: 0 0.375em 0.375em 0;
		border-right: 1px solid $blue;
	}
}
.segmented__label {
	cursor: pointer;
	display: block;
	color: darken($blue, 5);
	padding: 0.875em 1em 0;
	height: 2.375rem;
	margin-bottom: 0;
	text-transform: uppercase;
	@include font-size(12);
	letter-spacing: 0.05em;
	text-align: center;
	transition: all 0.3s ease;
	&:hover {
		background-color: rgba($blue, 0.2);
		cursor: pointer;
	}
}
.segmented__input {
	position: absolute;
	left: -999em;
	&:checked + label {
		background-color: $blue;
		color: white;
		&:hover {
			background-color: darken($blue, 5);
		}
	}
}

.field--plain-text {
	@extend fieldset;
}
.field--plain-text__label {
	@extend label;
}
.field--plain-text__text {
	padding-top: 0.5275em;
}

.field--submit {
	border-top: 1px dashed $border_light;
	padding-top: 1em;
	padding-bottom: 0;
	position: relative;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	[type='submit'] {
		margin-bottom: 0.375em;
		margin-right: 0.375em;
	}
}
.field--submit-center {
	display: block;
	text-align: center;
}
.field--submit__minor-link {
	display: inline-block;
	padding: 0.45em 0.5em 0;
	font-style: italic;
	text-decoration: underline;
	text-align: left;
	font-weight: normal;
}
.field--submit__submit {
	flex-grow: 1;
	padding-bottom: 0.5em;
	vertical-align: top;
}
.field--submit__submit input.field--submit__minor-link {
	padding: 0.325em 0.75em 0.2em;
}
.field--submit__others {
	vertical-align: top;
	.button {
		margin-right: 0.25em;
	}
}
.field--submit__note {
	width: 100%;
	margin-top: 1em;
	border-top: 1px dashed $border_light;
	padding-top: 1em;
}
