// variables.scss
// ------------------------
// Colour variables for the entire site. Other then shades of gray, these are the only colours that should be used in css.

// colours
$text: #444;
$green: #219555;
$orange: #df4011;
$colour_bg: #202627;
$border_light: #ddd;

$base_font_size: 16;

// fonts
$font_sans: 'Overpass', sans-serif;
